@tailwind base;
@tailwind components;
@tailwind utilities;

ul,
li {
  list-style: none;
}

body,
div {
  @apply transition-colors duration-300 ease-in-out;
}

body {
  @apply text-black dark:bg-black dark:text-white bg-white;
}

a {
  @apply text-primary transition-colors duration-300 hover:text-primary-400 active:text-primary-200 focus:text-primary-400;
}

/* all focusable elements */
*:focus {
  @apply outline-primary-400;
}

h1 {
  @apply text-3xl mb-5 font-playfair;
}

h2 {
  @apply text-xl mb-4 font-playfair;
}

h3 {
  @apply text-lg  mb-2;
}

p {
  text-wrap: wrap;
  word-wrap: break-word;
}

.curly-arrow {
  stroke-dasharray: 1000; /* Set a high value for the stroke-dasharray */
  stroke-dashoffset: 1000; /* Set the initial value to the stroke-dasharray value */
  animation: arrowAnimation 2s ease-in-out infinite;
}

@keyframes arrowAnimation {
  to {
    stroke-dashoffset: 0; /* Animate the stroke-dashoffset to 0, revealing the path */
  }
}
